:root {
  --calc-font-size: 2rem;
  --page-bg-color: rgba(111, 207, 151, 0.31);
  --btn-txt-color: #716f81;
  --btn-border-color: #d3d3d3;
  --btn-bg-color: #efefef;
  --screen-txt-color: #ffffff;
  --calc-bg-color: #fff;
  --screen-bg-color: #6fcf97;
  --keypad-bg-color: #fff;
  --white-color: #fff;
}

html {
  box-sizing: border-box;
  background-color: var(--page-bg-color);
  font-family: "Open Sans", "sans-serif";
  font-size: 1rem;
}

*,
*:after,
*:before,
*::selection {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;

  /* Disble selection on all the elements */
  -webkit-touch-callout: none; /* Safari on iOS */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* supported by Chrome and Opera */
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: 0;
  background: var(--btn-bg-color);
}

main > #container {
  /* Place calculator in the center of the screen */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Required for placing the calculator in the center */
  min-height: 100vh;
}

#container .calculator-wrapper {
  position: relative;
  width: 262px;
  padding: 10px;
}

.calculator-wrapper .calculator {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
}

.calculator .screen {
  height: 130px;
  position: relative;
}

.calculator .screen,
.calculator .screen label,
.calculator .screen input {
  color: var(--screen-txt-color);
  background-color: var(--screen-bg-color);
}

.screen input[type="text"] {
  position: absolute;
  bottom: 0;
  padding-right: 2px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--screen-txt-color);
  text-align: right;
  /* font-size: 3.2rem; */
  font-size: 3rem;
  font-weight: 600;
}

.screen input[type="text"]::placeholder {
  color: var(--screen-txt-color);
  opacity: 0.5;
}

.screen input[disabled] {
  -webkit-text-fill-color: var(--screen-txt-color);
  -webkit-opacity: 1;
  opacity: 1;
  color: var(--screen-txt-color);
}

.keypad {
  background-color: var(--keypad-bg-color);
  padding: 10px;
}

.keypad .keypad-row {
  padding-bottom: 5px;
}

.keypad .keypad-row:first-child {
  padding-top: 10px;
}

.keypad .keypad-row:last-child {
  padding-bottom: 10px;
}

.keypad .keypad-row .btn {
  margin: 1px;
  padding: 5px;
  width: 50px;
  height: 50px;
  color: var(--btn-txt-color);
  text-align: center;

  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
  border: 2px solid var(--btn-border-color);

  cursor: pointer;
  pointer-events: auto;
}

.keypad .keypad-row .btn img {
  width: 20px;
  height: 20px;
}

/* Helper classes */
.evaluate {
  background-color: var(--screen-bg-color);
}
